    :root{
        --link: #2997ff;
        --red: #ff453a;
        --orange: #ff9f0a;
        --yellow: #ffd60a;
        --green: #32d74b;
        --mint: #66d4cf;
        --teal: #6ac4dc;
        --cyan: #5ac8f5;
        --blue: #0a84ff;
        --indigo: #5e5ce6;
        --purple: #bf5af2;
        --pink: #ff375f;
        --brown: #ac8e68;
        --grey: #989898;
    }

*{
    padding: 0px;
    margin: 0px;
}

a{
    color: var(--link);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

body{
    font-size: 17px;
    font-family: 'Sushant', sans-serif;
    color: rgb(220, 220, 220);
    background: #080808;
    overflow-y: scroll;
    line-height: 1.1;
}

.gudiya-nav-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: rgba(20, 20, 20, 0.6);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}


.gudiya-nav{
    text-align: center;
    margin: 0px 10px;
    padding: 12px 20px;
}

.gudiya-nav-text{
    font-family: "Nexa", sans-serif;
    font-size: 28px;
    font-weight: 600;
    position: relative;
    color: var(--pink);
}

.gudiya-nav-text-gudiya{
    position: absolute;
    left: 0;
    right: 0;
    transition: opacity 0.2 ease-in-out; 
    -webkit-transition: opacity 0.2 ease-in-out; 
    -moz-transition: opacity 0.2 ease-in-out; 
    -ms-transition: opacity 0.2 ease-in-out; 
    -o-transition: opacity 0.2 ease-in-out;
    /* background-image: linear-gradient(90deg,#5239d1,#8d38d1 40%); */
    /* -webkit-background-clip: text; */
    /* background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

.gudiya-nav-text-pragati{
    transition: opacity 0.2 ease-in-out; 
    -webkit-transition: opacity 0.2 ease-in-out; 
    -moz-transition: opacity 0.2 ease-in-out; 
    -ms-transition: opacity 0.2 ease-in-out; 
    -o-transition: opacity 0.2 ease-in-out;
    /* background-image: linear-gradient(90deg,#5239d1,#8d38d1 40%); */
    /* -webkit-background-clip: text; */
    /* background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}